{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Se Connecter{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include('partials/navbar.twig.html') %}

    <div class="container">
        <div class="col-md-8 mx-auto mt-5">
            <div class="card card-login">
                <div class="card-header"><h1>Connexion</h1></div>
                <div class="card-body">
                    <form method="post" action="{{ path('account_login') }}">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur : </label>
                            <input class="form-control" type="text" id="username"  placeholder="Nom d'utilisateur ..." required name="_username" value="{{ lastUsername }}">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe  :</label>
                            <input class="form-control" id="password" type="password" placeholder="Mot de pass ..." required name="_password">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>
                        <div class="form-group">
                            <input class="" type="checkbox" id="remember_me" name="_remember_me" />
                            <label for="remember_me">Rester connecté</label>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Connexion !</button>
                    </form>
                    <div class="text-center">
                        <a class="d-block small mt-3" href="{{ path('account_register') }}">Créer un nouveau compte</a>
                        <a class="d-block small" href="#">Mot de passe oublié ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
