{% extends 'layouts/panel.twig' %}

{% block title %}{{ parent() }} Modification du profil utilisateur{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1>
            Modification du profile utilisateur
        </h1>

        {{ form_start(form) }}
        <div class="row">

            <div class="col-lg-8">
                <div class="form-group">
                    {{ form_row(form.firstname) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.surname) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.username) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.birthdayAt) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.biography) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.level) }}
                </div>

                <div class="form-group mt-5">
                    <label class="">Votre addresse</label>
                    <div class="row align-items-center">
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="{% if user.location %}{{ user.location.fullAddress }}{% else %}Ajouter une adresse{% endif %}" id="address-input" >
                        </div>
                        <div class="col">
                            <div class="input-group-append">
                                <button id="locateMe" class="btn btn-primary" type="button" title="Votre position actuelle"><i class="fas fa-crosshairs"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row flex justify-content-start flex-wrap">

                    <div class="form-group">
                        {{ form_row(form.avatarFile) }}
                    </div>

                    {% if user.avatar %}
                        <div class="col col-6">
                            <div class="form-group">
                                <img src="{{ vich_uploader_asset(user, 'avatarFile') | imagine_filter('square') }}" class="img-fluid " alt="image/photo de {{ user.username }}">
                                <a href="{{ path('user_picture_delete', { id: user.id }) }}" class="btn btn-danger btn-block" data-delete data-token="{{ csrf_token('delete' ~ user.id ) }}">supprimer</a>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>

        </div>

        <button type="submit" class="btn btn-primary">{{ button|default('Enregistrer') }}</button>

        {{ form_end(form) }}

    </div>
    {% block javascripts %}
        <!-- algoliaPlaces -->
        <script src="https://cdn.jsdelivr.net/npm/places.js@1.15.1"></script>
        {{ encore_entry_script_tags('app/algoliaPlaces') }}
    {% endblock %}
{% endblock %}
