{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include('partials/navbar.html.twig') %}

    <!-- header -->
    <header class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col text-white">
                    <h1>Seekriders</h1>
                    <h2 class="lead">Un site créé par un skater pour les skaters</h2>

                    <div class="call-to-action mt-3">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="btn btn-secondary btn-lg" href="{{ path('spot_index') }}" role="button">Acceder au site</a>
                        {% else %}
                            <a class="btn btn-primary btn-lg mr-3" href="{{ path('account_login') }}" role="button">Se connecter</a>
                            <a class="btn  btn-secondary btn-lg" href="{{ path('account_register') }}" role="button">Créer un compte</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- section last spots -->
    <section id="lastSpot" class="">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title">
                        <h3>Les dérniers spots ajoutés</h3>
                    </div>
                </div>
                <div class="row">
                    {% for spot in spots %}
                        <div class="col-lg-4 col-sm-4 col-xs-4 mb-3">
                            {{ include('partials/spot-card.html.twig') }}
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
    </section>

    <!-- section last sessions -->
    <section id="lastSessions" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title">
                        <h3>Les prochaines sessions</h3>
                    </div>
                </div>
                <div class="row">
                    {% for session in sessions %}
                        <div class="col-md-6 my-2">
                            {{ include('partials/session-card.html.twig') }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- section last users -->
    <section id="lastUsers">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title">
                        <h3>Dérniers utilisateurs enregistrés</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for user in users  %}
                    <div class="col">
                        <a href="{{ path('user_show', {'id': user.id}) }}">
                            {% if user.avatar %}
                                <img class="img-fluid rounded" src="{{ vich_uploader_asset(user, 'avatarFile') | imagine_filter('avatar') }}" alt="image/photo de {{ user.username }}">
                            {% else %}
                                <img class="img-fluid rounded" src="{{ asset('images/users/profile-image-null.png') | imagine_filter('avatar') }}" alt="image/photo de {{ user.username }}">
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Footer -->
    {% include('partials/footer.html.twig') %}

{% endblock %}
