{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{% block body %}
    <!-- header -->
    <header class="homepage-header" style="background: url({{ asset('/images/skateboard.jpg') }}) center">
        <!-- navbar -->
        <nav class="navbar navbar-expand topbar fixed-top shadow">
            <a class="navbar-brand text-white" href="{{ path('home') }}">Seekriders</a>
            {% block topbar %}{% endblock %}
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('account_login') }}">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('account_register') }}">S'enregistrer</a>
                        </li>
                {% endif %}
                <!-- Nav Item - User Information -->
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-white small">{{ app.user.username }}</span>
                            {% if app.user.avatar %}
                                <img src="{{ vich_uploader_asset(app.user, 'avatarFile') | imagine_filter('avatarMin') }}" class="img-profile rounded-circle" alt="Avatar de {{ app.user.username }}">
                            {% else %}
                                <img src="{{ asset('images/users/profile-image-null.png') | imagine_filter('avatarMin') }}" class="img-profile rounded-circle" alt="Avatar de {{ app.user.username }}">
                            {% endif %}
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{{ path('account_index') }}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="{{ path('account_profile') }}">
                            <i class="fas fa-user-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                            Modifier mon profile
                        </a>
                        <a class="dropdown-item" href="{{ path('account_password') }}">
                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                            Modifier mon mot de passe
                        </a>
                        <div class="dropdown-divider"></div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_dashboard') }}" class="dropdown-item">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Administration
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Déconnexion
                        </a>
                        {% endif %}
                    </div>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!-- End of Topbar -->

        <div class="container header-content">
            <div class="row">
                <div class="col text-white">
                    <h1 class="display-1">Seekriders</h1>
                    <h2 class="h1">Un site créé par un skater pour les skaters</h2>

                    <div class="call-to-action mt-3">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="btn btn-primary btn-lg" href="{{ path('spot_index') }}" role="button">Acceder au site</a>
                        {% else %}
                            <a class="btn btn-primary btn-lg mr-3" href="{{ path('account_login') }}" role="button">Se connecter</a>
                            <a class="btn  btn-secondary btn-lg" href="{{ path('account_register') }}" role="button">Créer un compte</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- section last spots -->
    <section id="lastSpot" class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3>Les dérniers spots ajoutés</h3>
                    </div>
                </div>
                <div class="row">
                    {% for spot in spots %}
                        <div class="col-lg-4 col-sm-4 col-xs-4 mb-3">
                            {{ include('partials/spot-card.html.twig') }}
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
    </section>

    <!-- section last sessions -->
    <section id="lastSessions" class="section bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title">
                        <h3>Les prochaines sessions</h3>
                    </div>
                </div>
                <div class="row">
                    {% for session in sessions %}
                        <div class="col-md-6 my-2">
                            {{ include('partials/session-card.html.twig') }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- section last users -->
    <section id="lastUsers" class="section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title">
                        <h3>Dérniers utilisateurs enregistrés</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for user in users  %}
                    <div class="col-4 col-md-3 col-lg-2 mb-2">
                        <a href="{{ path('user_show', {'id': user.id}) }}">
                            {% if user.avatar %}
                                <img class="rounded shadow h-100" src="{{ vich_uploader_asset(user, 'avatarFile') | imagine_filter('avatar') }}" alt="image/photo de {{ user.username }}">
                            {% else %}
                                <img class="rounded shadow h-100" src="{{ asset('images/users/profile-image-null.png') | imagine_filter('avatar') }}" alt="image/photo de {{ user.username }}">
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Footer -->
    {% include('partials/footer.html.twig') %}

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded bg-primary" href="#page-top">
    <i class="fas fa-angle-up"></i>
    </a>
{% endblock %}
