{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

    <!-- Navigation -->
    {% include('partials/navbar.html.twig') %}

    <div class="container-fluid">

        <div class="row">
            <div id="sidebarLeftMini" class="">
                <ul class="list-unstyled text-center">
                    <li class="item {% if app.request.attributes.get('_route') == 'spot_index' %}active{% endif %}">
                        <a href="{{ path('spot_index')}}">
                            <i class="far fa-map"></i>
                            <p class="text-white">Map</p>
                        </a>

                    </li>
                    <li class="item {% if app.request.attributes.get('_route') == 'session_index' %}active{% endif %}">
                        <a href="{{ path('session_index') }}">
                            <i class="fas fa-calendar-day"></i>
                            <p class="text-white">Sessions</p>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <i class="far fa-star"></i>
                            <p class="text-white">Favoris</p>
                        </a>
                    </li>
                    <li class="item">
                        <a href="{{ path('account_index') }}">
                            <i class="far fa-user"></i>
                            <p class="text-white">Users</p>
                        </a>
                    </li>
                </ul>
            </div>

            {% block sidebarLeft %}
            {% endblock %}

            <div class="col p-0">
                <main>
                {% block main %}

                {% endblock %}
                </main>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}