{% extends 'layouts/panel.twig' %}

{% block title %}{{ parent() }} {{ session.title }}{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>{{ session.title }}</h1>
                {% if session.isContest %}
                    <p>
                        <span class="badge badge-primary">Cette session est une compétion</span>
                    </p>
                {% endif %}
                <p>Début : {{ session.startDateAt|date('Y-m-d') }}</p>
                <p>Fin : {{ session.endDateAt|date('Y-m-d') }}</p>

                <address>
                    {{ session.spot.location.fullAddress }}
                </address>

                <p>Spot : <a href="{{path('spot_show', {'id': session.spot.id})}}">{{ session.spot.title }}</a>
                </p>

                <p>Description : {{ session.description }}</p>

                {% if is_granted('IS_AUTHENTICATED_FULLY') and session.isParticipating(app.user) %}
                    <a href="{{ path('api_session_participant', {id: session.id}) }}" class="btn btn-danger" data-sessionParticipant>Ne plus participer</a>
                {% else %}
                    <a href="{{ path('api_session_participant', {id: session.id}) }}" class="btn btn-primary" data-sessionParticipant>Participer</a>
                {% endif %}
            </div>
            <div class="col-md-5">
                <a href="{{path('spot_show', {'id': session.spot.id})}}">
                    {% if session.spot.picture %}
                        <img class="card-img-top img-fluid" src="{{ vich_uploader_asset(session.spot.picture, 'imageFile') | imagine_filter('thumb') }}" alt="image/photo du spot {{ session.spot.title }}">
                    {% else %}
                        <img class="card-img-top img-fluid" src="{{ asset('/images/spots/image-null.jpg') | imagine_filter('thumb') }}" alt="Card image cap">
                    {% endif %}
                </a>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-12">
                <h3 class="my-3">Participants : <span class="badge badge-primary">{{ session.participants | length }}</span></h3>
            </div>
            {% for user in session.participants  %}
                <div class="col-2 mb-3">
                    <a href="{{ path('user_show', {'id': user.id}) }}">
                        {% if user.avatar %}
                            <img class="img-fluid rounded" src="{{ vich_uploader_asset(user, 'avatarFile') | imagine_filter('avatar') }}" alt="image/photo de {{ user.username }}">
                        {% else %}
                            <img class="img-fluid rounded" src="{{ asset('images/users/profile-image-null.png') | imagine_filter('avatar') }}" alt="image/photo de {{ user.username }}">
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="row my-3">
            <div class="col">
                <div id="map" class="bg-secondary spot-map" data-spot="{{ spot }}"></div>
            </div>
        </div>

        {% if app.user == session.author or is_granted('ROLE_ADMIN')  %}
            <div class="row my-3 ml-1">
                <a href="{{ path('session_edit', {'id': session.id}) }}" class="btn btn-warning mr-2">Modifier</a>
                {{ include('session/_delete_form.html.twig') }}
            </div>
        {% endif %}
    </div>
{% endblock %}
