{{ form_start(form) }}
<div class="row">

    <div class="col-lg-8">
        <div class="form-group">
            {{ form_row(form.title) }}
        </div>

        <div class="form-group">
            {{ form_row(form.description) }}
        </div>

        <div class="form-group">
            {{ form_row(form.type) }}
        </div>

        <div class="form-group">
        {{ form_row(form.paying) }}
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col">
                    {{ form_row(form.Location.address) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.Location.city) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.Location.postCode) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.Location) }}
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row flex justify-content-start flex-wrap">

            <div class="form-group">
                {{ form_row(form.picturesFiles) }}
            </div>

            {% for picture in spot.pictures %}
                <div class="col col-6">
                    <div class="form-group">
                        <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('thumb') }}" class="img-fluid " alt="image/photo du spot {{ spot.title }}">
                        <a href="{{ path('spot_picture_delete', { id: picture.id }) }}" class="btn btn-danger btn-block" data-delete data-token="{{ csrf_token('delete' ~ picture.id) }}">supprimer</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

</div>

<button type="submit" class="btn btn-primary mt-2">{{ button|default('Enregistrer') }}</button>

{{ form_end(form) }}
