{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Modification du spot {{ spot.title }}{% endblock %}

{% block body %}

    <!-- Navigation -->
    {% include('partials/navbar.twig.html') %}

    <div class="container">
        <h1>
            Modification du spot {{ spot.title }}
        </h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        {{ form_end(form) }}
    </div>
    {% block javascripts %}
        <!-- algoliaPlaces -->
        <script src="https://cdn.jsdelivr.net/npm/places.js@1.15.1"></script>
        {{ encore_entry_script_tags('algoliaPlaces') }}
    {% endblock %}
{% endblock %}
