{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Modification du spot {{ spot.title }}{% endblock %}

{% block body %}

    <!-- Navigation -->
    {% include('partials/navbar.twig.html') %}

    <div class="container mt-5">
        <h1>
            Modification du spot {{ spot.title }}
        </h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        {{ form_end(form) }}

        {% if is_granted('ROLE_ADMIN') %}
            {{ include('spot/_delete_form.html.twig') }}
        {%endif%}
    </div>
    {% block javascripts %}
        <!-- algoliaPlaces -->
        {{ encore_entry_script_tags('app/algoliaPlaces') }}
    {% endblock %}
{% endblock %}
