{% extends 'layouts/panel.twig' %}

{% block title %}{{ parent() }} Spots favoris{% endblock %}

{% block topbar %}
    <a href="{{ path('spot_new') }}" class="btn btn-primary d-none d-md-block">Ajouter un spot</a>
{% endblock %}

{% block main %}

    <div class="container mt-5">
        <div class="row">
            {% for spot in spots %}
                <div class="col-lg-4 col-sm-4 col-xs-4 mb-3">
                    {{ include('partials/spot-card.html.twig') }}
                </div>
            {% endfor %}
        </div>

        <div class="position-fixed" id="floatingActionButtons">
            <a href="{{ path('spot_new') }}" class="btn btn-primary d-md-none btn-circle"><i class="fas fa-fw fa-plus"></i></a>
        </div>
    </div>

    {% block javascripts %}
        <!-- algoliaPlaces -->
        <script src="https://cdn.jsdelivr.net/npm/places.js@1.15.1"></script>
        {{ encore_entry_script_tags('app/algoliaPlaces') }}
    {% endblock %}
{% endblock %}
