{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Les spots{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include('partials/navbar.twig.html') %}

    <div class="container mt-5">
        <h1 class="my-5">Liste des spots dispo</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Titre</td>
                    <td>Description</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                {% for spot in spots %}
                    <tr>
                        <td><h3><a href="{{ path('spot_show', {'id': spot.id}) }}">{{ spot.title }}</a></h3></td>
                        <td><p>{{ spot.description }}</p></td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="d-inline-block">
                                    {{ include('spot/_delete_form.html.twig') }}
                                </div>
                                <a href="{{ path('spot_edit', {'id': spot.id}) }}" class="btn btn-warning">Editer</a>
                            {% elseif app.user == spot.author %}
                                <a href="{{ path('spot_edit', {'id': spot.id}) }}" class="btn btn-warning">Editer</a>
                            {%endif%}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        <a href="{{ path('spot_new') }}" class="btn btn-primary">Ajouter un nouveau spot</a>
    </div>

    <!-- Footer -->
    {% include('partials/footer.html.twig') %}
{% endblock %}