{% extends '/layouts/panel.twig' %}

{% block title %}{{ parent() }} Les spots{% endblock %}

    {% block sidebarLeft %}
        <div id="sidebarLeft" class="col-lg-4 col-xl-3 d-none d-lg-block my-3">
            <ul class="list-group list-group-flush list-unstyled">
                <li> <a href="{{ path('spot_new') }}" class="btn btn-primary d-block">Ajouter un spot</a></li>
                <li class="">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-primary mt-3" value="Rechercher">
                    {{ form_end(form) }}
                </li>
            </ul>
        </div>
    {% endblock %}

    {% block main %}
        <div id="map" class="d-flex justify-content-center align-items-center"><span>Erreur de chargement de la map</span></div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <!-- algoliaPlaces -->
        <script src="https://cdn.jsdelivr.net/npm/places.js@1.15.1"></script>
        {{ encore_entry_script_tags('app/algoliaPlaces') }}
    {% endblock %}