{% extends '/layouts/panel.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-search@2.9.8/src/leaflet-search.css">
{% endblock %}

{% block title %}{{ parent() }} Les spots{% endblock %}

    {% block topbar %}
        <!-- Button trigger modal -->
        {#<button type="button" class="btn btn-secondary mr-2 d-none d-md-block" data-toggle="modal" data-target="#searchByFilters">#}
            {#Recherche par filtres#}
        {#</button>#}
        <a href="{{ path('spot_new') }}" class="btn btn-primary d-none d-md-block">Ajouter un spot</a>
    {% endblock %}

    {% block main %}
        <div class="main position-relative">
            <div id="map" class="d-flex justify-content-center align-items-center"></div>

            <div class="position-absolute" id="floatingActionButtons">
                {#<button type="button" class="btn btn-secondary mr-2 mb-2 d-md-none btn-circle" data-toggle="modal" data-target="#searchByFilters">#}
                    {#<i class="fas fa-fw fa-search"></i>#}
                {#</button>#}
                {#<br>#}
                <a href="{{ path('spot_new') }}" class="btn btn-primary d-md-none btn-circle"><i class="fas fa-fw fa-plus"></i></a>
            </div>
        </div>

        <!-- Modal Spot Filters-->
        <div class="modal fade" id="searchByFilters" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {{ form_start(form, {'attr': {'id': 'spotSearchForm'}}) }}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Recherche par filtres</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {#<input type="submit" class="btn btn-primary" value="Rechercher">#}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('app/algoliaPlaces') }}
        <script src="https://cdn.jsdelivr.net/npm/places.js@1.15.1"></script>

    {% endblock %}