{% extends '/layouts/panel.twig' %}

{% block title %}{{ parent() }} Les spots{% endblock %}

    {% block sidebarLeft %}
        <ul class="list-group list-group-flush list-unstyled">
            <li> <a href="{{ path('spot_new') }}" class="">Ajouter un spot</a></li>
            <li class="">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-primary mt-3" value="Rechercher">
                {{ form_end(form) }}
            </li>
        </ul>
    {% endblock %}

    {% block main %}
        <div id="map" class="d-flex justify-content-center align-items-center"><span>Erreur de chargement de la map</span></div>
        <div class="d-none">
            {% for spot in spots %}
                <div class="leaflet-marker hide" data-lat="{{ spot.location.latitude }}" data-lng="{{ spot.location.longitude }}" data-type="{{ spot.type }}"></div>
            {% endfor %}
        </div>
        {#<div class="pagination">#}
        {#{{ knp_pagination_render(spots) }}#}
        {#</div>#}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <!-- algoliaPlaces -->
        <script src="https://cdn.jsdelivr.net/npm/places.js@1.15.1"></script>
        {{ encore_entry_script_tags('app/algoliaPlaces') }}
    {% endblock %}