{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Création d'un nouveau spot{% endblock %}

{% block body %}

    <!-- Navigation -->
    {% include('partials/navbar.twig.html') %}

    <div class="container mt-5">

        <h1>Création d'un nouveau spot</h1>

        {{ form_start(form) }}
        <div class="row">

            <div class="col-lg-8">
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.type) }}
                {{ form_row(form.paying) }}
            </div>

            <div class="col">
                {{ form_row(form.Location) }}
            </div>

        </div>

        <button type="submit" class="btn btn-primary mt-2">Enregistrer le nouveau spot</button>

    </div>
    {{ form_end(form) }}

    {% block javascripts %}
        <!-- algoliaPlaces -->
        <script src="https://cdn.jsdelivr.net/npm/places.js@1.15.1"></script>
        {{ encore_entry_script_tags('app/algoliaPlaces') }}
    {% endblock %}
{% endblock %}
