{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Création d'un nouveau spot{% endblock %}

{% block body %}

    <!-- Navigation -->
    {% include('partials/navbar.twig.html') %}

    <div class="container mt-5">
        <h1>
            Création d'un nouveau spot
        </h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Enregistrer le nouveau spot</button>
        {{ form_end(form) }}
    </div>
    {% block javascripts %}
        <!-- algoliaPlaces -->
        <script src="https://cdn.jsdelivr.net/npm/places.js@1.15.1"></script>
        {{ encore_entry_script_tags('app/algoliaPlaces') }}
    {% endblock %}
{% endblock %}
