{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ spot.title }}{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include('partials/navbar.html.twig') %}

    <div class="container m-5 mx-auto">

        <!-- Row -->
        <div class="row">

            <div class="col-md-6">
                {% if spot.pictures.count > 0 %}
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for picture in spot.pictures %}
                                <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                                    <img class="img-fluid" src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('medium')}}" alt="image/photo du spot {{ spot.title }}">
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                {% else %}
                    <img class="card-img-top img-fluid" src="{{ asset('/images/spots/image-null.jpg') | imagine_filter('thumb') }}" alt="Card image cap">
                {% endif %}

                {#add spot in favourites#}
                {% if app.user %}
                    {% if spot.isLikeByUser(app.user)  %}
                        <a href="{{ path('spot_like', {'id': spot.id}) }}" class="btn btn-primary rounded-0x" data-spotLike><i class="fas fa-star"></i></a>
                    {% else %}
                        <a href="{{ path('spot_like', {'id': spot.id}) }}" class="btn btn-primary rounded-0x" data-spotLike><i class="far fa-star"></i></a>
                    {% endif %}
                {% else %}
                    {# return null#}
                {% endif %}
            </div>

            <div class="col-md-6">
                <h1>{{ spot.title }}</h1>

                <address>
                    {{ spot.location.fullAddress }}
                </address>

                <h3>Description : </h3>
                <p>{{ spot.description }}</p>

                <h3 class="my-3">Infos :</h3>
                <ul class="list-unstyled">
                    <li>Type : {{ spot.spotType }}</li>
                    <li>Tarifs : {{ spot.spotPrice }}</li>
                    <li>Auteur :  <a href="{{ path('user_show', {'id': spot.author.id}) }}">{{ spot.author.username }}</a></li>
                    <li>Ajouté le : {{ spot.createdAt | date('d-M-Y')}}</li>
                </ul>

                {#button spot edition reserved admin#}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('spot_edit', {'id': spot.id}) }}" class="btn btn-warning">Editer</a>
                    <div class="d-inline-block">
                        {{ include('spot/_delete_form.html.twig') }}
                    </div>
                {% elseif app.user == spot.author %}
                    <a href="{{ path('spot_edit', {'id': spot.id}) }}" class="btn btn-warning">Editer</a>
                {%endif%}

            </div>

        </div>

    </div>

    <!-- Footer -->
    {% include('partials/footer.html.twig') %}
{% endblock %}