{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ user.username }}{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include('partials/navbar.twig.html') %}

    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-sm-3 col-xs-12">
                {% if user.picture %}
                    <img class="avatar mb-3 rounded-circle img-fluid" src="{{ vich_uploader_asset(user.picture, 'imageFile') | imagine_filter('avatar') }}" alt="image/photo de {{ user.username }}">
                {% else %}
                    <img class="avatar mb-3 rounded-circle img-fluid" src="https://picsum.photos/128" alt="Card image cap">
                {% endif %}
                {#<img src="https://picsum.photos/128" class="avatar mb-3 rounded-circle img-fluid" alt="Avatar de {{user.username}}">#}
                {% if user is same as(app.user) %}
                    <div class="mt-3">
                        <a href="{{ path('account_profile') }}" class="btn btn-sm btn-primary mr-2 mb-2">Modifier mes informations</a>
                        <a href="{{ path('account_password') }}" class="btn btn-sm btn-danger mb-2">Modifier mon mot de passe</a>
                    </div>
                {% endif %}
            </div>

            <div class="col">
                <div class="container">
                    <h1 class="mb-2">{{user.username}}</h1>
                    {% if user.location %}
                        <p>{{ user.location.department }} / {{ user.location.city }}</p>
                    {% endif %}

                    <p><strong>Inscris depuis le : </strong>{{ user.createdAt | date('d M Y') }}</p>

                    <div class="mt-3">
                        <strong>Descirption : </strong> <br>
                        {% if user.biography == null %} aucune {% else  %}{{ user.biography }}{% endif %}
                    </div>
                </div>
                <hr>
                <!-- friends list -->
                <div class="container">
                    <div class="row">
                        <h3>Liste d'amis : </h3>
                    </div>
                    <div class="row">
                        <ul class="list-unstyled d-flex flex-row flex-wrap">
                            {% for i in 0..10 %}
                                <li class="mr-2"><img src="http://placehold.it/50" alt="" class="image-profile img-fluid rounded-circle"></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- last session -->
                <div class="container">
                    <div class="row">
                        <h3>Dernière session participé : </h3>
                    </div>
                    <div class="row">
                        <p>Aucune session </p>
                    </div>
                </div>

                <!-- spots list -->
                <div class="container">
                    <div class="row">
                        <h3 class="my-4">Spots ajoutés :</h3>
                    </div>
                    <div class="row">
                        {% for spot in user.spotsCreated %}
                            <div class="col-md-2 col-xs-6 mb-4 pl-0">
                                <a href="{{ path('spot_show', {'id': spot.id }) }}">
                                    {% if spot.picture %}
                                        <img class="img-fluid" src="{{ vich_uploader_asset(spot.picture, 'imageFile') | imagine_filter('thumb') }}" alt="image/photo du spot {{ spot.title }}">
                                    {% else %}
                                        <img class="img-fluid" src="https://picsum.photos/255" alt="Card image cap">
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include('partials/footer.html.twig') %}
{% endblock %}
